

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0 auto;
    width: 100%;
	height: 100%;
    background: #F2F2F2;
}


.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
    max-width: 373px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    margin-bottom: 38px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 0 0;
}

.header__logo-alt {
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    color: #13183F;
    margin: 0;
}

.header__logo {
    display: none;
}

.header__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #13183F;
    border-radius: 28px;
    padding: 11px 24px;
    border: 0;
    position: relative;
    cursor: pointer;
    transition: 0.5s background-color;
}

.header__btn:hover {
    background-color: #666CA3;
}




/*---------- Maximize Skills --------------*/

.skill__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 50.4px;
    color: #13183F;
    margin: 0 0 26px 0;
}

.skill__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #83869A;
    margin: 0 0 24px 0;
}

.skill__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    padding: 15px 38px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    margin: 0 0 30px 0;
    transition: 0.5s opacity;
    border: none;
}

.skill__btn:hover {
   opacity: 0.5;
}

.skill__img {
    display: block;
    width: 100%
}

.skill__img-tab {
    display: none;
}
.skill__img-desc {
    display: none;
}


/*------------ Courses -----------*/

.courses__square {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    margin-bottom: 16px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.courses__type-block {
    padding: 0px 29px 32px 29px;
}

.square__text {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: #FFFFFF;
    padding: 24px 28px 32px 28px;
}
.courses__type {
    margin-bottom: 45px;
    background: #FFFFFF;
    border-radius: 10px;
   
}

.courses__type:last-child {
    margin-bottom: 0;
}

.type__icon {
    margin-top: -25px;
}
.type__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    color: #13183F;
    margin: 24px 0 16px;
}

.type__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #83869A;
    margin: 0 0 24px 0;
}

.type__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #F74780;
    text-decoration: none;
    transition: 0.5s color;
}

.type__link:hover {
    color: #FFA7C3;
}


/*--------------------- FOOTER -------------------*/

.footer {
    margin: 0 auto;
    /* min-width: 375px; */
    max-width: 1440px;
    width: 100%;
    background: #13183F;
    margin-top: 80px;
}

.footer__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 36px 0;
    justify-content: space-between;
}

.footer__logo {
    display: none;
}

.footer__logo-alt {
    font-size: 28px;
    font-weight: 800;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0;
}

.footer__btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(72, 81, 255, 1) -54.32%, rgba(240, 42, 166, 1) 100%);
    border-radius: 28px;
    border: 0;
    transition: 0.5s opacity;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button__hover{
    padding: 11px 24px;
    border-radius: 28px;
    transition: 0.5s background;
}

.footer__btn:hover > .button__hover {
    background: rgba(255, 255, 255, 0.5);
    
} 





/*------------- MEDIA ---------------*/

@media screen and (min-width: 768px) {
    .container {
        max-width:688px;
        margin: 0 auto;
    }

    .skill__img {
        display: none;
    }
    
    .skill__img-tab {
        display: block;
        overflow: hidden;
        margin-right: -320px;
        margin-top: -193px;
    }

    .skill__content {
        display: flex;
        justify-content: space-between;
    }

    .skill__info {
        max-width: 398px;
    }

    .courses__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 56px;
    }  
    
    .courses__square {
        width: 340px;
        margin: 0;
      
    }

    .courses__type {
        width: 340px;
        margin:0;
        
    }

    .courses__type:last-child {
        margin-bottom:0;
    }

    .courses__type-block {
        padding: 0 21px 32px 32px;
    }

    .type__icon {
        margin-top:-25px;
    }

    .courses__container {
        max-width: 708px;
        margin: 0 auto;
    }
    
 
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1110px;
        margin: 0 auto;
    }

    .header__logo-alt {
        display: none;
    }

    .header__logo {
        display: block;
    }

    .header__btn {
        font-size: 18px;
        line-height: 28px;
    }

    .courses__square {
        width: 350px;
        margin: 0;
        border-radius: 15px;
        
    }

    .square__text {
        font-size: 32px;
        line-height: 40px;
        max-width: 286px;
        padding: 20px 32px 32px 32px;
    }
        
    .courses__content {
        row-gap: 80px;
        column-gap: 30px;
    }    

    .courses__type {
        width: 350px;
        margin:0;
        border-radius: 15px;
      
    }

 

    .skill__title {
        font-size: 56px;
        font-weight: 800;
        line-height: 56px;
        color: #13183F;
        margin: 0 0 26px 0;
    }
    
    .skill__subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: #83869A;
        margin: 0 0 24px 0;
    }

    .skill__info {
        max-width: 458px;
    }

    .skill__img-tab {
        display: none;
    }

    .skill__img-desc {
        display: block;
        overflow: hidden;
        margin-right: -522px;
        margin-top: -301px;
    }

    
    .skill__btn {
        font-size: 18px;
        line-height: 28px;
 
    }

    .footer__logo-alt {
        display: none;
    }

    .footer__logo {
        display: block;
    }

}








/*
 .content {
    margin: 0 auto;
    background-image: url(../img/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: top -100px right -300px; 
    
}

.container {
    width: 1110px;
    margin: 0 auto;
}





.header {
    margin-bottom: 147px;
    padding: 0 165px;
    max-width: 100%;
  
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    

}
.header__logo {
}
.header__btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    padding: 14px 32px;
    border: 1px solid #13183F;
    background-color: #13183F;
    border-radius: 28px;
    transition: 0.5s background-color;
}

.header__btn:hover {
    background-color: #666CA3;
}

.maximize__skill {
    max-width: 457px;
    margin-bottom: 226px;
   
}
.container {
}
.skill__title {
    font-size: 56px;
    font-weight: 800;
    line-height: 71px;
    color: #13183F;

}
.skill__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #83869A;
    margin: 29px 0 40px;

}
.skill__btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 32px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    transition: 0.5s opacity;
}

.skill__btn:hover {
   opacity: 0.5;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 140px;
}
.courses__square {
    height: 322px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    padding: 64px 0 0 32px;
    margin-right: 30px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.square__text {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #FFFFFF;
    max-width: 300px;
}


.courses__type {
    height: 322px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 80px;
    

}
.type__icon {
    margin-top: -25px;
}
.type__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    color: #13183F;
    margin-top: 25px;

}
.type__subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #83869A;
    margin: 24px 0;
    
    
}
.type__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #F74780;


}

.type__link:hover {
    color:#FFA7C3;
}


.footer {
    height: 120px;
    width: 100%;
    background-color: #13183F;
    display: flex;
    align-items: center;
    padding: 0 165px;
    
    
    

}

.footer__content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    

    
   
  
   

    

}

.footer__icon {
}
.footer__btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    padding: 14px 32px;
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;



}

.footer__btn:hover{
   opacity: 0.5;
} 

*/




